In [1]:
# import necessary libraries.
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
ls
# flower data set --> iris

'data_analytics_part1(25sep).ipynb'   iris.csv
 data_analytics_part1.ipynb           K-means_clustering.ipynb
'Data Visualisation.ipynb'            Multiple_Linear_Regression.ipynb
 Data_Visualisation_part03.ipynb      PCA.ipynb
 IPLdata.csv                          simple_linear_regression.ipynb
'IPL dataset1 (CSBS-2024).csv'        stock.csv

In [3]:
df = pd.read_csv("iris.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
df.describe()
# quartile

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [8]:
#
df.species.replace({'Setosa':0, 'Versicolor':1, 'Virginica':2}, inplace = True)

In [9]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [10]:
# standardize the data.
features = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

x = df.loc[:, features].values

y = df.loc[:, ['species']].values

x = StandardScaler().fit_transform(x)

print(pd.DataFrame(data=x, columns=features).head())

   sepal_length  sepal_width  petal_length  petal_width
0     -0.900681     1.019004     -1.340227    -1.315444
1     -1.143017    -0.131979     -1.340227    -1.315444
2     -1.385353     0.328414     -1.397064    -1.315444
3     -1.506521     0.098217     -1.283389    -1.315444
4     -1.021849     1.249201     -1.340227    -1.315444

In [11]:
from sklearn.decomposition import PCA

pca = PCA()

X_new = pca.fit_transform(x)

In [12]:
# variance
explained_variance  = pca.explained_variance_ratio_
explained_variance

array([0.72962445, 0.22850762, 0.03668922, 0.00517871])

In [15]:
# print eigenvectors (principal components) for each feature
eigenvectors = pca.components_ 

print("\nEigenvectors (principal components) for each feature :")
for i, eigenvector in enumerate(eigenvectors):                   # loop through principal components.
    print(f"Principal component {i+1} :")
    for feature, value in zip(features, eigenvector):
        print(f" {feature} : {value:.4f}")

Eigenvectors (principal components) for each feature :
Principal component 1 :
 sepal_length : 0.5211
 sepal_width : -0.2693
 petal_length : 0.5804
 petal_width : 0.5649
Principal component 2 :
 sepal_length : 0.3774
 sepal_width : 0.9233
 petal_length : 0.0245
 petal_width : 0.0669
Principal component 3 :
 sepal_length : -0.7196
 sepal_width : 0.2444
 petal_length : 0.1421
 petal_width : 0.6343
Principal component 4 :
 sepal_length : -0.2613
 sepal_width : 0.1235
 petal_length : 0.8014
 petal_width : -0.5236

In [16]:
# PCA projection to 2D
pca = PCA(n_components = 2)
principalComponents = pca.fit_transform(x)
principalDF = pd.DataFrame(data = principalComponents, columns=['PC1', 'PC2'])
print(principalDF.head(150))

          PC1       PC2
0   -2.264703  0.480027
1   -2.080961 -0.674134
2   -2.364229 -0.341908
3   -2.299384 -0.597395
4   -2.389842  0.646835
..        ...       ...
145  1.870503  0.386966
146  1.564580 -0.896687
147  1.521170  0.269069
148  1.372788  1.011254
149  0.960656 -0.024332

[150 rows x 2 columns]

In [ ]:
# variance
explained)variance = pca